{% extends 'dashboard/base.html' %}
{% block maincontent %}

    <style type="text/css">
        label {
    font-weight: 600;
    color: #555;
}
body {
  background: ;
}
    </style>
</head>
<body>

    <div class="container">
    <h2 class="text-center">Personal Details</h2>
        <form method="POST" action="{% url 'manage_trainees' edit_trainees.id %}" enctype="multipart/form-data">
						    {% csrf_token %}
            
        <div class="row jumbotron">
            <div class="col-sm-4 form-group">
                <label for="name-l">Profile</label>
                <input type="file" class="form-control" name="profile" id="profile" placeholder="Profile" value="{{edit_trainees.profile}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="email">Trainee Name</label>
                <input type="text" class="form-control" name="trainee_name" id="trainee_id" placeholder="Trainee Name" value="{{edit_trainees.trainee_id}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="address-1">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{edit_trainees.email}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="address-2">Phone Number</label>
                <input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="Phone Number" value="{{edit_trainees.phone_no}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="State">Aadhar Number</label>
                <input type="text" class="form-control" name="aadhar_no" id="aadhar_no" placeholder="Aadhar Number" value="{{edit_trainees.aadhar_no}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="zip">Pan Card</label>
                <input type="text" class="form-control" name="pan_card" id="pan_card" placeholder="Pan Card" value="{{edit_trainees.pan_card}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="Country">Gender</label>
                <select class="form-control custom-select browser-default" name="gender" value="{{edit_trainees.gender}}">
               {% if edit_trainees.gender == "Male" %}
                                    <option value="Male" selected="selected" >Male</option>
                                {% else %}
                                    <option value="Male" >Male</option>
                                {% endif %}
                                {% if edit_trainees.gender == "Female" %}
                                    <option value="Female" selected="selected" >Female</option>
                                {% else %}
                                    <option value="Female">Female</option>
                                {% endif %}
                </select>
            </div>
            <div class="col-sm-4 form-group">
                <label for="Date">Date Of Birth</label>
                <input type="Date" name="date_of_birth" class="form-control" id="date_of_birth" placeholder="Date Of Birth" value="{{edit_trainees.date_of_birth}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="tel">Blood Group</label>
                <input type="text" name="blood_group" class="form-control" id="blood_group" placeholder="Blood Group" value="{{edit_trainees.blood_group}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass">Father's Name</label>
                <input type="text" name="father_name" class="form-control" id="father_name" placeholder="Father's Name" value="{{edit_trainees.father_name}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">Father's Occupation</label>
                <input type="text" name="father_occupation" class="form-control" id="father_occupation" placeholder="Father's Occupation" value="{{edit_trainees.father_occupation}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">Father's Number</label>
                <input type="text" name="father_no" class="form-control" id="father_no" placeholder="Father's Number" value="{{edit_trainees.father_no}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">City</label>
                <input type="text" name="city" class="form-control" id="city" placeholder="City" value="{{edit_trainees.city}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">State</label>
                <input type="text" name="state" class="form-control" id="state" placeholder="State" value="{{edit_trainees.state}}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="pass2">Pin code</label>
                <input type="text" name="pin_code" class="form-control" id="pin_code" placeholder="Pin code" value="{{edit_trainees.pin_code}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">Address</label>
                <input type="text" name="address" class="form-control" id="address" placeholder="Address" value="{{edit_trainees.address}}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">Join Date</label>
                <input type="date" name="join_date" class="form-control" id="join_date" placeholder="Join Date" value="{{edit_trainees.join_date}}">
            </div></br>
            </div> 
              <h3 class="text-center">Educational Details</h3></br></br>
            <div class="row">
            <div class="col-sm-6 form-group">
               <h5>School</h5></br>
                <input type="text" name="school_name" class="form-control" id="school_name" placeholder="School Name" value="{{edit_trainees.school_name}}"></br>
                <label for="pass2">Board</label>
                <input type="text" name="board" class="form-control" id="board" placeholder="Board" value="{{edit_trainees.board}}"></br>
                <label for="pass2">Passing year</label>
                <input type="text" name="passing_year" class="form-control" id="passing_year" placeholder="Passing year" value="{{edit_trainees.passing_year}}"></br>
            </div>
            <div class="col-sm-6 form-group">
                 <h5>High School</h5></br>
                <input type="text" name="high_school_name" class="form-control" id="high_school_name" placeholder="High School Name" value="{{edit_trainees.high_school_name}}"></br>
                <label for="pass2">Board</label> 
                <input type="text" name="high_school_board" class="form-control" id="high_school_board" placeholder="High School Board" value="{{edit_trainees.high_school_board}}"></br>
                <label for="pass2">Passing year</label>
                <input type="text" name="high_school_passing_year" class="form-control" id="high_school_passing_year" placeholder="High School Passing year" value="{{edit_trainees.high_school_passing_year}}"></br>
            </div>
    
                
              </div></br></br>
            <div class="row">
            
            <div class="col-sm-4 form-group">
            <h5>Graduation Details</h5></br>
                <input type="text" name="graduation_univercity" class="form-control" id="graduation_univercity" placeholder="Graduation Univercity" value="{{edit_trainees.graduation_univercity}}"></br>
                <label for="pass2">Degree</label>
                <input type="text" name="graduation_degree" class="form-control" id="graduation_degree" placeholder="Graduation Degree" value="{{edit_trainees.graduation_degree}}"></br>
                <label for="pass2">Passing year</label>
                <input type="text" name="graduation_year" class="form-control" id="graduation_year" placeholder="Graduation year" value="{{edit_trainees.graduation_year}}"></br>
            </div>
            <div class="col-sm-4 form-group">
             <h5>Post Graduation Details</h5></br>
                <input type="text" name="post_graduation_univercity" class="form-control" id="post_graduation_univercity" placeholder="Post Graduation Univercity" value="{{edit_trainees.post_graduation_univercity}}"></br>
                <label for="pass2">Degree</label>
                <input type="text" name="post_graduation_degree" class="form-control" id="post_graduation_degree" placeholder="Post Graduation Degree" value="{{edit_trainees.post_graduation_degree}}"></br>
                <label for="pass2">Passing year</label>
                <input type="text" name="post_graduation_year" class="form-control" id="post_graduation_year" placeholder="Post Graduation year" value="{{edit_trainees.post_graduation_year}}"></br>
            </div>
            <div class="col-sm-4 form-group">
            <h5>Other Degree/Chartification</h5></br>
                <input type="text" name="other_univercity" class="form-control" id="other_univercity" placeholder="Other Univercity" value="{{edit_trainees.other_univercity}}"></br>
                <label for="pass2">Degree</label>
                <input type="text" name="other_degree" class="form-control" id="other_degree" placeholder="Other Degree" value="{{edit_trainees.other_degree}}"></br>
                <label for="pass2">Passing year</label>
                <input type="text" name="other_year" class="form-control" id="other_year" placeholder="Other year" value="{{edit_trainees.other_year}}"></br>
            </div></br></br></br></br></br>
            </div>

            
             
            
            <div class="col-sm-12 form-group mb-0">
               <button class="btn btn-primary float-right">Submit</button>
            </div>
            
        </div>
        </form>
        </br>
    </div>


{% endblock maincontent %}