{% extends 'dashboard/base.html' %}
{% block maincontent %}
  <div class="container">
    <div class="row">
      <section>
        <div class="wizard">
          <div class="wizard-inner">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Personal Information">
                  <span class="round-tab">
                    <i class="fas fa-user"></i>
                  </span>
                </a>
              </li>
              <li role="presentation" class="disabled">
                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Educations Details">
                  <span class="round-tab">
                    <i class="fas fa-user-graduate"></i>
                  </span>
                </a>
              </li>
              <li role="presentation" class="disabled">
                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Professional Details">
                  <span class="round-tab">
                    <i class="fab fa-black-tie"></i>
                  </span>
                </a>
              </li>

              <li role="presentation" class="disabled">
                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Family Details">
                  <span class="round-tab">
                    <i class="fas fa-users"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <form role="form" action="" method="POST" enctype="multipart/form-data">
            <div class="tab-content">
              <div class="tab-pane active" role="tabpanel" id="step1">
                <fieldset>
                  <h1 class="text-center" id="personal">Personal Information</h1>
                  <div class="form-group">
                    <div class="col-sm-2 imgUp">
                      <div class="imagePreview"></div>
                      <label class="btn btn-primary">uploadFile
                        <input type="file" name="upload_file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                      </label>
                    </div>
                    <div class="col-sm-10" id="parent">
                      <div class="col-sm-4 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="fullName" name="f_name" placeholder="First Name*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                      <div class="col-sm-4 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="fullName" name="m_name" placeholder="Middle Name" class="form-control" value="" type="text">
                        </div>
                      </div>
                      <div class="col-sm-4 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="fullName" name="l_name" placeholder="Last Name*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>

                      <div class="col-sm-4 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-mobile"></i>
                          </span>
                          <input id="fullName" name="mob1" placeholder="Mobile Number*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                      <div class="col-sm-4 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-mobile"></i>
                          </span>
                          <input id="fullName" name="mob2" placeholder="Mobile Number" class="form-control" value="" type="text">
                        </div>
                      </div>
                      <div class="col-sm-4 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-phone-alt"></i>
                          </span>
                          <input id="fullName" name="landline" placeholder="Landline Number" class="form-control" value="" type="text">
                        </div>
                      </div>

                      <div class="col-sm-6 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-envelope-square"></i>
                          </span>
                          <input id="fullName" name="email1" placeholder="Email" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6 inputGroupContainer">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-envelope-square"></i>
                          </span>
                          <input id="fullName" name="email2" placeholder="Email" class="form-control" value="" type="text">
                        </div>
                      </div>

                    </div>
                    <div class="col-sm-12">
                      <div class="col-sm-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="Father's Name" name="fa_name" placeholder="Father's Name*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="Occupation" name="f_ocu" placeholder="Father's Occupation*" class="form-control" required="true" value="" type="text">
                        </div>

                      </div>

                    </div>

                    <div class="col-md-12">
                      <div class="col-md-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="Mother's Name" name="ma_name" placeholder="Mother's Name*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input id="Occupation" name="m_ocu" placeholder=" Mother's Occupation*" class="form-control" required="true" value="" type="text">
                        </div>

                      </div>

                    </div>
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-id-card-alt"></i>
                          </span>
                          <input id="Aadhaar" name="aadhaar_no" placeholder="Aadhaar Cart Number*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-id-badge"></i>
                          </span>
                          <input id="pancart" name="pan_no" placeholder="Pan Cart Number*" class="form-control" required="true" value="" type="text">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-venus-mars"></i>
                          </span>
                          <select class="select" name="gender" required>
                            <option selected data-default disabled hidden>Choose gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-birthday-cake"></i>
                          </span>
                          <input type="date" id="date" name="date" placeholder="Date of Birth*" class="form-control" required="true" value="" type="text">
                        </div>

                      </div>
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-birthday-cake"></i>
                          </span>
                          <input type="text" name="birth_place" placeholder="Birth Place" class="form-control" value="" type="text">
                        </div>

                      </div>

                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-venus-double"></i>
                          </span>
                          <select class="select" name="marital_status" required>
                            <option value="none" selected disabled hidden>Marital Status</option>
                            <option value="Single">Single</option>
                            <option value="Marride">Marride</option>
                            <option value="female">Divorced</option>
                            <option value="female">Separated</option>
                            <option value="female">Widowed</option>
                          </select>

                        </div>

                      </div>

                    </div>
                    <div class="col-md-12">
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fab fa-gg-circle"></i>
                          </span>
                          <select class="select" name="blood_group" required>
                            <option value="none" selected disabled hidden>Blood Group*</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-flag"></i>
                          </span>
                          <select class="select" name="nationality" required>
                            <option value="none" selected disabled hidden> Select Nationality* </option>
                            <option value="Armenians">Armenians</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Indians">Indians</option>
                            <option value="Italians">Italians</option>
                            <option value="Pakistanis">Pakistanis</option>
                            <option value="Russians">Russians</option>
                            <option value="Singaporeans">Singaporeans</option>
                            <option value="Sri Lankans">Sri Lankans</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-peace"></i>
                          </span>
                          <select class="select" name="religion" required>
                            <option value="none" selected disabled hidden>Select Religion*</option>
                            <option value="Hindus">Hindus</option>
                            <option value="Muslims">Muslims</option>
                            <option value="Christians">Christians</option>
                            <option value="Sikhs">Sikhs</option>
                          </select>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-flag"></i>
                          </span>
                          <select class="select" name="caste" required>
                            <option value="none" selected disabled hidden> Select Caste* </option>
                            <option value="OBC">OBC</option>
                            <option value="SC">SC</option>
                            <option value="ST">ST</option>
                            <option value="GENERAL">GENERAL</option>
                          </select>

                        </div>

                      </div>

                    </div>

                    <div class="col-sm-12">
                      <div class="col-sm-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-flask"></i>
                          </span>
                          <select class="select1" name="exp_year" required>
                            <option value="none" selected disabled hidden>Experience year</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group" id="n1">
                          <span class="input-group-addon">
                            <i class="fas fa-flask"></i>
                          </span>
                          <select class="select1" name="exp_month" required>
                            <option value="none" selected disabled hidden>Experience Month</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="col-sm-9" id="Address">
                          <div class="input-group" id="n1">
                            <span class="input-group-addon">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <input id="city" name="current_add" placeholder="Current Address*" class="form-control" required="true" value="" type="text">
                          </div>
                        </div>
                        <div class="col-sm-3" id="City">
                          <div class="input-group" id="n1">
                            <span class="input-group-addon">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <input id="city" name="current_city" placeholder="Current City*" class="form-control" required="true" value="" type="text">
                          </div>

                        </div>

                      </div>
                      <div class="col-sm-12">
                        <div class="col-sm-9" id="Address">
                          <div class="input-group" id="n1">
                            <span class="input-group-addon">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <input id="city" name="permanent_add" placeholder="Permanent Address*" class="form-control" required="true" value="" type="text">
                          </div>
                        </div>
                        <div class="col-sm-3" style="margin-bottom: 30px;" id="City">
                          <div class="input-group" id="n1">
                            <span class="input-group-addon">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <input id="city" name="permanent_city" placeholder="Permanent City*" class="form-control" required="true" value="" type="text">
                          </div>

                        </div>

                      </div>

                    </div>

                </fieldset>

                <ul class="list-inline pull-right">
                  <li>
                    <button type="button" class="btn btn-info next-step">Next</button>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" role="tabpanel" id="step2">
                <h1 class="text-center" id="Eduation">Eduation Details</h1>
                <section class="container">
                  <div class="col-sm-12">
                    <h5>Secondary Education ( Class X ) *</h5>
                    <div class="col-sm-6">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                        <input id="text" name="sec_edu" placeholder="School*" class="form-control" required="true" value="" type="text">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-gift"></i>
                        </span>
                        <select class="Eduation1" name="sec_year" required>
                          <option value="none" selected disabled hidden>Year</option>
                          <option value="0">2000</option>
                          <option value="1">2001</option>
                          <option value="2">2002</option>
                          <option value="3">2003</option>
                          <option value="4">2004</option>
                          <option value="5">2005</option>
                          <option value="6">2006</option>
                          <option value="7">2007</option>
                          <option value="8">2008</option>
                          <option value="9">2009</option>
                          <option value="10">2010</option>
                          <option value="11">2011</option>
                          <option value="12">2012</option>
                          <option value="12">2013</option>
                          <option value="12">2014</option>
                          <option value="12">2015</option>
                          <option value="12">2016</option>
                          <option value="12">2017</option>
                          <option value="12">2018</option>
                          <option value="12">2019</option>
                          <option value="12">2020</option>
                          <option value="12">2021</option>
                        </select>
                      </div>

                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-percent"></i>
                        </span>
                        <input id="percent" name="sec_per" placeholder="percent*" required="true" class="form-control" value="" type="text">
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-12">
                    <p id="Schooltitle">Higher Secondary Eucation ( Class XII ) *</p>
                    <div class="col-sm-6">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                        <input id="text" name="in_edu" placeholder="School*" required="true" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-gift"></i>
                        </span>
                        <select class="Eduation1" name="in_year" required>
                          <option value="none" selected disabled hidden>Year</option>
                          <option value="0">2000</option>
                          <option value="1">2001</option>
                          <option value="2">2002</option>
                          <option value="3">2003</option>
                          <option value="4">2004</option>
                          <option value="5">2005</option>
                          <option value="6">2006</option>
                          <option value="7">2007</option>
                          <option value="8">2008</option>
                          <option value="9">2009</option>
                          <option value="10">2010</option>
                          <option value="11">2011</option>
                          <option value="12">2012</option>
                          <option value="12">2013</option>
                          <option value="12">2014</option>
                          <option value="12">2015</option>
                          <option value="12">2016</option>
                          <option value="12">2017</option>
                          <option value="12">2018</option>
                          <option value="12">2019</option>
                          <option value="12">2020</option>
                          <option value="12">2021</option>
                        </select>
                      </div>

                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-percent"></i>
                        </span>
                        <input id="percent" name="in_per" placeholder="percent*" required="true" class="form-control" value="" type="text">
                      </div>

                    </div>
                  </div>

                  <div class="col-sm-12">
                    <p id="Schooltitle">Graduation *</p>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                        <select class="Eduation1" name="gr_degree" required>
                          <option value="none" selected disabled hidden>Degree/Certification</option>
                          <option value="B.A">B.A</option>
                          <option value="B.Arch">B.Arch</option>
                          <option value="B.Des.">B.Des.</option>
                          <option value="B.El.Ed">B.El.ED</option>
                          <option value="B.P.Ed">B.P.Ed</option>
                          <option value="B.U.M.S">B.U.M.S</option>
                          <option value="BAMS">BAMS</option>
                          <option value="BCA">BCA</option>
                          <option value="B.B.A/B.M.S">B.B.A/B.M.S</option>
                          <option value="B.Com">B.Com</option>
                          <option value="B.Ed">B.Ed</option>
                          <option value="BDS">BDS</option>
                          <option value="BFA">BFA</option>
                          <option value="B.Sc">B.Sc</option>
                          <option value="B.Tech">B.Tech</option>
                          <option value="BHMS">BHMS</option>
                          <option value="LLB">LLB</option>
                          <option value="MBBS">MBBS</option>
                          <option value="Diploma">Diploma</option>
                          <option value="Other">Other</option>

                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-university"></i>
                        </span>
                        <input id="text" name="gr_uni" placeholder="University*" required="true" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-gift"></i>
                        </span>
                        <select class="Eduation1" name="gr_year" required>
                          <option value="none" selected disabled hidden>Year</option>
                          <option value="0">2000</option>
                          <option value="1">2001</option>
                          <option value="2">2002</option>
                          <option value="3">2003</option>
                          <option value="4">2004</option>
                          <option value="5">2005</option>
                          <option value="6">2006</option>
                          <option value="7">2007</option>
                          <option value="8">2008</option>
                          <option value="9">2009</option>
                          <option value="10">2010</option>
                          <option value="11">2011</option>
                          <option value="12">2012</option>
                          <option value="12">2013</option>
                          <option value="12">2014</option>
                          <option value="12">2015</option>
                          <option value="12">2016</option>
                          <option value="12">2017</option>
                          <option value="12">2018</option>
                          <option value="12">2019</option>
                          <option value="12">2020</option>
                          <option value="12">2021</option>
                        </select>
                      </div>

                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-percent"></i>
                        </span>
                        <input id="percent" name="gr_per" placeholder="grpercent*" class="form-control" required="true" value="" type="text">
                      </div>

                    </div>
                  </div>

                  <div class="col-sm-12">
                    <p id="Schooltitle"> Post Graduation </p>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                        <input id="text" name="o_degree" placeholder="Post Graduation" class="form-control" value="" type="text">

                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-university"></i>
                        </span>
                        <input id="text" name="pgr_uni" placeholder="University" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-gift"></i>
                        </span>
                        <input id="text" name="o_degree" placeholder="PassOut-Year" class="form-control" value="" type="text">

                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-percent"></i>
                        </span>
                        <input id="percent" name="pgr_per" placeholder="pgrpercent" class="form-control" value="0" type="text">
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-12">
                    <p id="Schooltitle">Other </p>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-graduation-cap"></i>
                        </span>
                        <input id="text" name="o_degree" placeholder="Degree/Certification" class="form-control" value="" type="text">

                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-university"></i>
                        </span>
                        <input id="text" name="o_uni" placeholder="University" class="form-control" value="" type="text">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-gift"></i>
                        </span>
                        <input id="text" name="o_degree" placeholder="PassOut-Year" class="form-control" value="" type="text">

                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-percent"></i>
                        </span>
                        <input id="percent" name="o_per" placeholder="opercent" class="form-control" value="0" type="text">
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-12">
                    <p id="Schooltitle">Education Break</p>
                    <div class="col-sm-12" style=" margin-bottom: 30px;">
                      <div class="input-group" id="n2">
                        <span class="input-group-addon">
                          <i class="fas fa-university"></i>
                        </span>
                        <input id="Education Break" name="edu_break" placeholder="State Reasons for Break In Education(if any)" class="form-control" value="" type="text">
                      </div>
                    </div>

                </section>
                <ul class="list-inline pull-right">
                  <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                  <li><button type="button" class="btn btn-info next-step">Next</button></li>
                </ul>
              </div>

              <div class="tab-pane" role="tabpanel" id="step3">
                <h1 class="text-center" id="Professional">Professional Details</h1>
                <section class="container">
                  <div class="table table-responsive">
                    <table class="table table-responsive table-striped table-bordered">
                      <thead>
                        <tr>
                          <td>Skill</td>
                          <td>Experice</td>
                          <td>Remove</td>
                        </tr>
                      </thead>
                      <tbody id="TextBoxContainer">
                      </tbody>
                      <tfoot>
                        <tr>
                          <th colspan="5">
                            <button id="btnAdd" type="button" class="btn btn-primary" data-toggle="tooltip" data-original-title="Add more controls"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Add&nbsp;</button>
                          </th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </section>
                <ul class="list-inline pull-right">
                  <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                  <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                  <li><button type="button" class="btn btn-info btn-info-full next-step">Next</button></li>
                </ul>
              </div>
              <div class="tab-pane" role="tabpanel" id="complete">
                <h1 class="text-center" id="References">Company References Details</h1>

                <div class="col-sm-12">

                  <div class="col-sm-3">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-user-tie"></i>
                      </span>
                      <input id="text" name="ref_name" placeholder="Name*" class="form-control" value="" type="text">
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-building"></i>
                      </span>
                      <input id="text" name="comp_name" placeholder="Name" class="form-control" value="" type="text">
                    </div>

                  </div>
                </div>
                <div class="col-sm-12">

                  <div class="col-sm-3">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-building"></i>
                      </span>
                      <input id="text" name="design" placeholder="Designation" class="form-control" value="" type="text">
                    </div>

                  </div>
                  <div class="col-sm-3">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-star"></i>
                      </span>
                      <input id="text" name="num" placeholder="Contect Number" class="form-control" value="" type="text">
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-envelope-square"></i>
                      </span>
                      <input id="text" name="email" placeholder="Email" class="form-control" value="" type="text">
                    </div>

                  </div>
                </div>

                <div class="col-sm-12">

                  <div class="col-sm-12">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-user"></i>
                      </span>
                      <input id="text" name="how_know" placeholder="How Do You Knoe Him/Her" class="form-control" value="" type="text">
                    </div>

                  </div>
                </div>
                <div class="col-sm-12">

                  <div class="col-sm-6">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-user"></i>
                      </span>
                      <select class="Reletionship" name="rel" required>
                        <option value="none" selected disabled hidden>Reletionship*</option>
                        <option value="Family Member">Family Member</option>
                        <option value="Friend">Friend</option>
                        <option value="Professtion Colegue">Professtion Colegue</option>
                        <option value="Others">Others</option>

                      </select>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="input-group" id="n3">
                      <span class="input-group-addon">
                        <i class="fas fa-user-tie"></i>
                      </span>
                      <select class="Reletionship" name="dep_belong" required>
                        <option value="none" selected disabled hidden>Belongs to Department*</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>

                  </div>
                  <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                    <!--                            <li><button type="submit" class="btn btn-info next-step">Submit</button></li>-->
                    <li><button type="submit" name="submit" class="btn btn-primary">submit</button></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
 
  <script type="text/javascript">
    $(document).ready(function() {
      //Initialize tooltips
      $('.nav-tabs > li a[title]').tooltip();
      //Wizard
      $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        var $target = $(e.target);
        if ($target.parent().hasClass('disabled')) {
          return false;
        }
      });
      $(".next-step").click(function(e) {
    
        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        
        nextTab($active);
      });
      $(".prev-step").click(function(e) {
        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);
      });
    });

    function nextTab(elem) {
      $(elem).next().find('a[data-toggle="tab"]').click();
    }

    function prevTab(elem) {
      $(elem).prev().find('a[data-toggle="tab"]').click();
    }
    $(document).on("click", "i.del", function() {
      $(this).parent().remove();
    });
    $(function() {
      $(document).on("change", ".uploadFile", function() {
        var uploadFile = $(this);
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
        if (/^image/.test(files[0].type)) { // only image file
          var reader = new FileReader(); // instance of the FileReader
          reader.readAsDataURL(files[0]); // read the local file
          reader.onloadend = function() { // set image data as background of div
            //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
            uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
          }
        }
      });
    });
    $(function() {
      $("#btnAdd").bind("click", function() {
        var div = $("<tr />");
        div.html(GetDynamicTextBox(""));
        $("#TextBoxContainer").append(div);
      });
      $("body").on("click", ".remove", function() {
        $(this).closest("tr").remove();
      });
    });

    function GetDynamicTextBox(value) {
      return '<td><div class="input-group" style="margin-top:10px;"><span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span><input name = "DynamicTextBox" type="text" value = "' + value + '" class="form-control" required/></div></td>' + '<td><div class="input-group" style="margin-top:10px;"><span class="input-group-addon"><i class="fas fa-gift"></i></span><select name="" class="form-control"><option> 0-1 Year</option><option>1-2 Year</option><option>2-3 Year</option><option>3-4 Year</option><option>4-5 Year</option><option>5-6 Year</option><option>6-7 Year</option><option>7-8 Year</option><option>8-9 Year</option><option>9-10 Year</option><option>10-11 Year</option><option>11-12 Year</option><option>13-14 Year</option><option>14-15 Year</option><option>15-16 Year</option></select></div></td>' + '<td><button type="button" class="btn btn-danger remove" style="margin-top:10px;"><i class="glyphicon glyphicon-remove-sign"></i></button></td>'
    }
  </script>
{% endblock maincontent %}