{% extends 'dashboard/base.html' %}
{% block maincontain %}
<div class="container">

  <div class="card">
    <div class="card-header">
      <h2>
        <a class="btn btn-success" href="{% url 'register_intern' %}">Add Intern</a>
        <a class="btn btn-info float-right" href="{% url 'intern_attendance' %}">Take Addendance</a>
      </h2>
    </div>

    <div class="card-body">
      <form action="#" method="post">
        <table class="table table-striped">
          <tr>
            <th width="30%">S/L</th>
            <th width="50%">Attendance Date</th>
            <th width="20%">Action</th>
          </tr>
          {% for d in data %}

          <tr>
            <td style="text-align:left">{{forloop.counter}}</td>
            <td style="text-align:left">{{d.date}}</td>
            <td style="text-align:left">
              <a class="btn btn-primary" href='/dashboard/intern_attendance_edit/{{d.date}}'>View</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </form>
    </div>
  </div>
</div>

{% endblock maincontain %}