{% extends 'dashboard/base.html' %}
{% block maincontent %}

    <style type="text/css">
        label {
    font-weight: 600;
    color: #555;
}
body {
  background: ;
}
    </style>
</head>
<body>

    <div class="container">
    <h2 class="text-center">Personal Information</h2>
        <form method="POST" action="#" enctype="multipart/form-data">
						    {% csrf_token %}
            
        <div class="row jumbotron">
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" name="intern_id" id="intern_id" placeholder="Intern Id">
            </div>
            
            <div class="col-sm-4 form-group">
              
                <input type="text" class="form-control" name="intern_name" id="intern_name" placeholder="Intern Name">
            </div>
            <div class="col-sm-4 form-group">
               
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="col-sm-4 form-group">
               
                <input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="Phone no">
            </div>
            <div class="col-sm-4 form-group">
               
                <input type="text" class="form-control" name="aadhar_no" id="aadhar_no" placeholder="Aadhar no">
            </div>
            <div class="col-sm-4 form-group">
               
                <input type="text" class="form-control" name="pan_card" id="pan_card" placeholder="Pan Card">
            </div>
            <div class="col-sm-4 form-group">
                <select class="form-control custom-select browser-default" name="gender">
                    <option value="" selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
           
            <div class="col-sm-4 form-group">
                <input type="text" name="blood_group" class="form-control" id="blood_group" placeholder="Blood Group">
            </div>
            <div class="col-sm-4 form-group">
               
                <input type="text" name="father_name" class="form-control" id="father_name" placeholder="Father Name">
            </div>
            <div class="col-sm-4 form-group">
              
                <input type="text" name="father_occupation" class="form-control" id="father_occupation" placeholder="Father Occupation">
            </div>
            <div class="col-sm-4 form-group">
                
                <input type="text" name="father_no" class="form-control" id="father_no" placeholder="Father no">
            </div>
             <div class="col-sm-4 form-group">
               
                <input type="text" name="pin_code" class="form-control" id="pin_code" placeholder="Pin code">
            </div>
            <div class="col-sm-4 form-group">
              
                <input type="text" name="address" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="col-sm-4 form-group">
               
                <input type="text" name="city" class="form-control" id="city" placeholder="City">
            </div>
            <div class="col-sm-4 form-group">
             
                <input type="text" name="state" class="form-control" id="state" placeholder="State">
            </div>
            <div class="col-sm-4 form-group">
                 <label for="Date">Intern Profile</label>
                <input type="file" class="form-control" name="profile" id="profile" placeholder="Profile">
            </div>

            <div class="col-sm-4 form-group">
                <label for="Date">Date Of Birth</label>
                <input type="Date" name="date_of_birth" class="form-control" id="date_of_birth" placeholder="Date Of Birth">
            </div>
            <div class="col-sm-4 form-group">
                <label for="pass2">Join Date</label>
                <input type="date" name="join_date" class="form-control" id="join_date" placeholder="Join Date">
            </div></br></br></br></br>
            </div> 
              <h3 class="text-center">Professional Information</h3></br></br>
            <div class="row">
            <div class="col-sm-6 form-group">
                <h6>School</h6></br>
                <input type="text" name="school_name" class="form-control" id="school_name" placeholder="School Name"></br>
                <input type="text" name="board" class="form-control" id="board" placeholder="Board"></br>
                 <input type="text" name="passing_year" class="form-control" id="passing_year" placeholder="Passing year"></br>
                  <input type="file" name="school_marksheet" class="form-control" id="school_marksheet" placeholder="School Marksheet"></br>
            </div>
            <div class="col-sm-6 form-group">
                <h6>High School</h6></br>
                <input type="text" name="high_school_name" class="form-control" id="high_school_name" placeholder="High School Name"></br>
                <input type="text" name="high_school_board" class="form-control" id="high_school_board" placeholder="High School Board"></br>
                <input type="text" name="high_school_passing_year" class="form-control" id="high_school_passing_year" placeholder="High School Passing_year"></br>
                 <input type="file" name="high_school_marksheet" class="form-control" id="high_school_marksheet" placeholder="High School Marksheet"></br>
              </div></br></br></br></br></br>
            </div>
            


            <h3 class="text-center">Univercity Level</h3></br></br></br>
            <div class="row">
            <div class="col-sm-4 form-group">
                 <h6>Graduation Details</h6></br>
                <input type="text" name="graduation_univercity" class="form-control" id="graduation_univercity" placeholder="Graduation Univercity"></br>
                <input type="text" name="graduation_degree" class="form-control" id="graduation_degree" placeholder="Graduation Degree"></br>
                <input type="text" name="graduation_year" class="form-control" id="graduation_year" placeholder="Graduation year"></br>
                <input type="file" name="graduation_marksheet" class="form-control" id="graduation_marksheet" placeholder="Graduation Marksheet"></br>

            </div>
            <div class="col-sm-4 form-group">
             <h6>Post Graduation Details</h6></br>
                <input type="text" name="post_graduation_univercity" class="form-control" id="post_graduation_univercity" placeholder="Post Graduation Univercity"></br>
                <input type="text" name="post_graduation_degree" class="form-control" id="post_graduation_degree" placeholder="Post Graduation Degree"></br>
                <input type="text" name="post_graduation_year" class="form-control" id="post_graduation_year" placeholder="Post Graduation year"></br>
                <input type="file" name="post_graduation_marksheet" class="form-control" id="post_graduation_marksheet" placeholder="Post Graduation Mmarksheet"></br>
            </div>
            <div class="col-sm-4 form-group">
             <h6>Other Degree/Chartification</h6></br>
                <input type="text" name="other_univercity" class="form-control" id="other_univercity" placeholder="Other Univercity"></br>
                <input type="text" name="other_degree" class="form-control" id="other_degree" placeholder="Other Degree"></br>
                <input type="text" name="other_year" class="form-control" id="other_year" placeholder="Other year"></br>
                <input type="file" name="other_marksheet" class="form-control" id="other_marksheet" placeholder="Other Marksheet"></br>
            </div></br></br></br>
            </div>
        
             

            









            

            <div class="col-sm-12 form-group mb-0">
               <button class="btn btn-primary float-right">Submit</button>
            </div>
            
        </div>
        </form>
        </br>
    </div>


{% endblock maincontent %}