{% extends 'dashboard/base.html' %}
{% block maincontent %}

<style type="text/css">
  label {
    font-weight: 600;
    color: #555;
  }

  body {
    background: ;
  }
</style>
</head>

<body>

  <div class="container">
   
    <form method="POST" action="#" enctype="multipart/form-data">
       <center><h2 class="text-center">Personal Details</h2></center>
      {% csrf_token %}
       <div class="row jumbotron">
        <div class="row">
         
          <div class="col-sm-4 form-group">

            <input type="text" class="form-control" name="emp_name" id="emp_name" placeholder="employee_name">
          </div>
          <div class="col-sm-4 form-group">

            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="Phone Number">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" class="form-control" name="aadhar_no" id="aadhar_no" placeholder="Aadhar Number">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" class="form-control" name="pan_card" id="pan_card" placeholder="Pan Card">
          </div>
          <div class="col-sm-4 form-group">
            <select class="form-control custom-select browser-default" name="gender">
              <option value="" selected>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>

          <div class="col-sm-4 form-group">
            <input type="text" name="blood_group" class="form-control" id="blood_group" placeholder="Blood Group">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="father_name" class="form-control" id="father_name" placeholder="Father's Name">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="father_occupation" class="form-control" id="father_occupation" placeholder="Father's Occupation">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="father_no" class="form-control" id="father_no" placeholder="Father's Number">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="pin_code" class="form-control" id="pin_code" placeholder="Pin code">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="address" class="form-control" id="address" placeholder="Address">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="city" class="form-control" id="city" placeholder="City">
          </div>
          <div class="col-sm-4 form-group">

            <input type="text" name="state" class="form-control" id="state" placeholder="State">
          </div>
          <div class="col-sm-4 form-group">
            <label for="Date">Employee Profile</label>
            <input type="file" class="form-control" name="profile" id="profile" placeholder="Profile">
          </div>

          <div class="col-sm-4 form-group">
            <label for="Date">Date Of Birth</label>
            <input type="Date" name="date_of_birth" class="form-control" id="date_of_birth" placeholder="Date Of Birth">
          </div>
          <div class="col-sm-4 form-group">
            <label for="pass2">Join Date</label>
            <input type="date" name="join_date" class="form-control" id="join_date" placeholder="Join Date">
          </div>
        </div>
      </div>
      <h3 class="text-center">Educational Details</h3></br></br>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h6>School</h6></br>
          <input type="text" name="school_name" class="form-control" id="school_name" placeholder="School Name"></br>
          <input type="text" name="board" class="form-control" id="board" placeholder="Board"></br>
          <input type="text" name="passing_year" class="form-control" id="passing_year" placeholder="Passing year"></br>
        </div>
        <div class="col-sm-6 form-group">
          <h6>High School</h6></br>
          <input type="text" name="high_school_name" class="form-control" id="high_school_name" placeholder="High School Name"></br>
          <input type="text" name="high_school_board" class="form-control" id="high_school_board" placeholder="High School Board"></br>
          <input type="text" name="high_school_passing_year" class="form-control" id="high_school_passing_year" placeholder="High School Passing year"></br>
        </div>
      </div></br>
      <div class="row">
        <div class="col-sm-4 form-group">
          <h6>Graduation Details</h6></br>
          <input type="text" name="graduation_univercity" class="form-control" id="graduation_univercity" placeholder="Graduation Univercity"></br>
          <input type="text" name="graduation_degree" class="form-control" id="graduation_degree" placeholder="Graduation Degree"></br>
          <input type="text" name="graduation_year" class="form-control" id="graduation_year" placeholder="Graduation year"></br>

        </div>
        <div class="col-sm-4 form-group">
          <h6>Post Graduation Details</h6></br>
          <input type="text" name="post_graduation_univercity" class="form-control" id="post_graduation_univercity" placeholder="Post Graduation Univercity"></br>
          <input type="text" name="post_graduation_degree" class="form-control" id="post_graduation_degree" placeholder="Post Graduation Degree"></br>
          <input type="text" name="post_graduation_year" class="form-control" id="post_graduation_year" placeholder="Post Graduation year"></br>
        </div>
        <div class="col-sm-4 form-group">
          <h6>Other Degree/Chartification</h6></br>
          <input type="text" name="other_univercity" class="form-control" id="other_univercity" placeholder="Other Univercity"></br>
          <input type="text" name="other_degree" class="form-control" id="other_degree" placeholder="Other Degree"></br>
          <input type="text" name="other_year" class="form-control" id="other_year" placeholder="Other year"></br>
        </div>
      </div></br></br></br>

      <!------ Include the above in your HEAD tag ---------->
      <h2 class="text-center">Professional Details</h2></br></br>

      <div class="row clearfix">
        <div class="col-md-12 column">
          <table class="table table-bordered table-hover" id="tab_logic">
            <thead>
              <tr>
                <th class="text-center">
                  #
                </th>
                <th class="text-center">
                  skill
                </th>
                <th class="text-center">
                  position
                </th>
                <th class="text-center">
                  experience
                </th>
              </tr>
            </thead>
            <tbody>
              <tr id='addr0'>
                <td>
                  1
                </td>
                <td>
                  <input type="text" name='skill[]' placeholder=' skill' class="form-control" />
                </td>
                <td>
                  <input type="text" name='position[]' placeholder='position' class="form-control" />
                </td>
                <td>
                  <input type="text" name='experience[]' placeholder='experience' class="form-control" />
                </td>
              </tr>
              <tr id='addr1'></tr>
            </tbody>
          </table>
        </div>
      </div>
      <a id='delete_row' style="background-color: #DC143C;color: white;padding: 5px 5px;text-align: center;margin:4px;text-decoration: none;
        display: inline-block;float: right;" class="btn btn-default">Delete</a>
      <a id="add_row" style="background-color:#00BFFF;color: white;padding: 5px 5px;text-align: center;margin:4px;text-decoration: none;
        display: inline-block; float: right;" class="btn btn-default">Add</a></br></br>

      <h5 class="text-center">Componey Refference </h5></br></br>

      <div class="row">
        <div class="col-sm-4 form-group">
          <input type="text" name="company_name" class="form-control" id="company_name" placeholder="Company Name"></br>
          <input type="text" name="designation" class="form-control" id="designation" placeholder="Designation "></br>
           <label for="text">Refference</label>
          <input type="text" name="refference" class="form-control" id="refference" placeholder="How do you know Him/Her."></br>
        </div>
        <div class="col-sm-4 form-group">
          <input type="text" name="emails" class="form-control" id="emails" placeholder="Email"></br>
          <input type="text" name="contact_no" class="form-control" id="contact_no" placeholder="Contact Number"></br>
          <label for="Date">Joining Date</label>
          <input type="date" name="joining_date" class="form-control" id="joining_date" placeholder="Joining Date"></br>
        </div>
        <div class="col-sm-4 form-group">
          <input type="text" name="relationships" class="form-control" id="relationships" placeholder="Relationships"></br>
          <input type="text" name="belongs_department" class="form-control" id="belongs_department" placeholder="Belongs Department"></br>
          <label for="Date">Living Date</label>
          <input type="date" name="living_date" class="form-control" id="living_date" placeholder="Living Date"></br>
          </br></br></br>
        </div>
      </div>

      <script>
        $(document).ready(function() {
          var i = 1;
          $("#add_row").click(function() {
            $('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name=' skill[]' type='text' placeholder=' skill' class='form-control input-md'  /> </td><td><input  name='position[]' type='text' placeholder='position'  class='form-control input-md'></td><td><input  name='experience[]' type='text' placeholder='experience'  class='form-control input-md'></td>");
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
          });
          $("#delete_row").click(function() {
            if (i > 1) {
              $("#addr" + (i - 1)).html('');
              i--;
            }
          });
        });
      </script>

      <div class="col-sm-12 form-group mb-0">
        <button class="btn btn-primary float-right">Submit</button>
      </div>

  </div>
  </form>
  </div></br></br>

  {% endblock maincontent %}