{% extends 'dashboard/base.html' %}
{% block maincontain %}
<div class="container">
  
      <div class="card">
        <div class="card-header">
          <h2>
            <a class="btn btn-success" href="{% url 'register_trainees' %}">Add Trainee</a>
            <a class="btn btn-info float-right" href="{% url 'trainee_attendance' %}">Take Addendance</a>
          </h2>
        </div>
  
        <div class="card-body">
          <form action="#" method="post">
            <table class="table table-striped">
              <tr>
                <th width="30%">S/L</th>
                <th width="50%">Attendance Date</th>
                <th width="20%">Action</th>
              </tr>
              {% for d in data %}
              
              <tr>
                <td>{{d.id}}</td>
                <td>{{d.date}}</td>
                <td>
                <a class="btn btn-primary" href="{% url 'trainee_attendance_edit' d.id %}">View</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </form>
        </div>
      </div>
    </div>
{% endblock maincontain %}