{% extends 'dashboard/base.html' %}
{% block maincontain %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                  
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
      <tr>
        <th class="text-left">Name</th>
        <th>Email</th>
        <th>Join_date</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    
      {% for d in data %}
      <tr>
       
        <td class="text-left">{{d.emp_name.emp_name}}</td>
        <td>{{d.emp_name.email}}</td>
        <td>{{d.emp_name.join_date}}</td>
        <td>{{d.salary}}</td>
        
        <td>
          <a href="{% url 'salary_detail' d.id %}">View</a>&nbsp;&nbsp;
          
        
          </td>
      </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  
  
{% endblock maincontain %}