{% extends 'dashboard/base.html' %}
{% block maincontent %}
<style>
  .table{
    background-color: white;
  }
 
</style>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Intern Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Join Date</th>
      <th>Intern Profile</th>
      <th>Action</th>
    </tr>
  </thead>
  
    {% for intern in view_intern %}
    <tr>
     
      <td>{{intern.intern_id}}</td>
      <td>{{intern.intern_name}}</td>
      <td>{{intern.email}}</td>
      <td>{{intern.phone_no}}</td>
      <td>{{intern.join_date}}</td>
      <td><a href="{% url 'intern_profile' intern.id %}">view profile</a></td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width:70px;">
           Update
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold;color:black;margin-left:38%;font-size:20px;">Update Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" >
                <h5 style="font-weight:bold;color:#000;margin-left:21%;font-size:15px;"> Are you sure you want to Update this</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><a href="{% url 'edit_intern' intern.id %}" style="color:white; text-decoration:none;">Update</a></button>
              </div>
            </div>
          </div>
        </div>


        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#example" style="width:70px;">
          Delete
       </button>
       
       <!-- Modal -->
       <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="examplemodel" style="font-weight:bold;color:black;margin-left:38%;font-size:20px;">Delete Details</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body" >
               <h5 style="font-weight:bold;color:#000;margin-left:21%;font-size:15px;"> Are you sure you want to Delete this</h5>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-danger"><a href="{% url 'remove_intern' intern.id %}" style="color:white; text-decoration:none;">Delete</a></button>
             </div>
           </div>
         </div>
       </div>

        

        
        </td>
    {% endfor %}
  
</table>
</div>
<script>
	$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
	</script>
{% endblock maincontent %}