{% extends 'dashboard/base.html' %}
{% block maincontain %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .table{
    background-color: white;
  }
 
</style>
<form action="{% url 'view_staff' %}" method="post">
  {% csrf_token %}
<div class="input-group">
  <div class="form-outline" style="margin-left: 65%;margin-bottom: none;" >
    <input type="search" id="form1" name="search" class="form-control" />
    
  </div>
  <button type="submit" class="btn btn-primary" name='search_btn' style="height: 40px;" >
    <i class="fas fa-search"></i>
  </button>
</div>
</br></br>
</form>
{{posts}}
{{search_term.staff_name.staff_name}}

<table class="table">
  <thead class="">
    <tr>
     
      <th>Name</th>
      <th>Phone Number</th>
      <th>Aadhaar Number</th>
      <th>Role</th>
      <th>Join Date</th>
      
      <th>Action</th>
    </tr>
  </thead>
  
    {% for d in data %}
    <tr>
     
      
      <td>{{d.staff_name}}</td>
      <td>{{d.phone_no}}</td>
      <td>{{d.aadhar_no}}</td>
      <td>{{d.role}}</td>
      <td>{{d.join_date}}</td>
      
      <td>
        <a href="{% url 'edit_staff' d.id %}"><i class="fa fa-pencil-square-o" style="font-size:26px"></i>
        </a>&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" onclick="get_id({{d.id}})" data-toggle="modal" data-target="#example" style="width:40px;">
          <i class="fa fa-trash" aria-hidden="true"></i>
       </button>
       
       <!-- Modal -->
       <div class="modal fade" id="example" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="examplemodel" style="font-weight:bold;color:black;margin-left:38%;font-size:20px;">Delete Details</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body" >
               <h5 style="font-weight:bold;color:#000;margin-left:21%;font-size:15px;"> Are you sure you want to Delete this</h5>
               <form action="{% url 'delete_staff' d.id %}" method='POST'>
							{% csrf_token %}
							<input type='text' name='id' id='id'> 
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-danger">Delete</a></button>
             </div>
             </form>
           </div>
         </div>
       </div>

        

        
        </td>
    {% endfor %}
  
</table>
</div>
<script>
	$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

function get_id(id)
		{
		
		document.getElementById('id').value=id;
		}

	</script>
{% endblock maincontain %}