{% extends 'dashboard/base.html' %}
{% block maincontain %}
<form action="{% url 'view_trainees' %}" method="POST">
  {% csrf_token %}
<center><div class="input-group">
  <div class="form-outline" style="margin-left: 65%;margin-bottom: none;" >
    <input type="search" id="form1" name="search" class="form-control" />
    
  </div>
  <button type="submit" class="btn btn-primary" name='search_btn' style="height: 37px;" >
    search
  </button>
</div>
</center>
</br></br>
</form>
{{posts}}
{{search_term.trainee_name.trainee_name}}
 <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                 
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
    <tr>
      
      <th class="text-left">Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Join Date</th>
      <th>Intern Profile</th>
      <th>Action</th>
    </tr>
  </thead>
  
    {% for trainee in view_trainees %}
    <tr>
     
      
      <td class="text-left">{{trainee.trainee_name}}</td>
      <td>{{trainee.email}}</td>
      <td>{{trainee.phone_no}}</td>
      <td>{{trainee.join_date}}</td>
      <td><a href="{% url 'trainees_profile' trainee.id %}">view profile</a></td>
      <td>
        <a href="{% url 'edit_trainees' trainee.id %}">Update</a>
        <button type="button" class="btn btn-danger" onclick="get_id({{trainee.id}})" data-toggle="modal" data-target="#example" style="width:70px;">
          Delete
       </button>
       
       <!-- Modal -->
       <div class="modal fade" id="example" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="examplemodel" style="font-weight:bold;color:black;margin-left:38%;font-size:20px;">Delete Details</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body" >
               <h5 style="font-weight:bold;color:#000;margin-left:21%;font-size:15px;"> Are you sure you want to Delete this</h5>
               <form action="{% url 'remove_trainees' %}" method='POST'>
							{% csrf_token %}
							<input type='text' name='trainee_id' id='trainee_id'> 
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-danger">Delete</a></button>
             </div>
             </form>
           </div>
         </div>
       </div>

        

        
        </td>
     
                        </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  

<script>
	$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

function get_id(id)
		{
		
		document.getElementById('trainee_id').value=id;
		}

	</script>
{% endblock maincontain %}